body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
  

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.2em;
}

.product p {
    font-size: 1.1em;
    color: #333;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #3e5b72;
}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-media img{
    width:200px;
    margin:50px;
    float: left;
    align-items: center;
    }